<!DOCTYPE html>
<html>
 <%- include('partials/head') %>
  <body >
    <%- include('partials/header') %>

    <div class="container my-2">
      <div class="row d-flex justify-content-center">
        
     
        <div class="my-5 ">
           <h3  >Bienvenidos a <%= title %></h3>

          <div class="my-5">

            <p><a class="btn" id="btn" href="/movies">Listado de Películas</a></p><br>
            <p><a class="btn" id="btn" href="/genres">Listado de generos</a></p><br>
         
          </div>
        </div>
      </div>
     
       

      </div>
    </div>
  </body>
</html>
